*
!/**/
!*.*

# folder ignores
**/__pycache__
**/venv
**/_minted*

**/.DS_Store
**/.vscode

**.csv
**.dta
**.smcl
**.zip

**.RData
**.Rhistory

**.dct
**.log
**.aux
**.fdb_latexmk
**.fls
**.synctex.gz

**.docx
**.ppt
**.xlsx
**.xls

**/tempCodeRunnerFile*

**/*-checkpoint*
